$chart-width: 400px;
$chart-height: 200px;

$box-model: border-box;

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chart {
  height: $chart-height;
  width: $chart-width;
  border: 1px solid #26C0C0;
}